@import url("./reservation-form.css");
@import url("reservation-requests.css");

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Roboto', Sans-Serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
font-family: 'Permanent Marker', cursive;
  letter-spacing: 2px;
  text-align: center;
}

 body {
	 background-image: url("../img/splatter.jpeg");
 }

 header {
	 background-color: #fa9167f8;
 }